{% extends 'base.html' %}
{% block content%}
{%load static%}
{% load socialaccount %}
{% providers_media_js %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Log In</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="/">Home</a></li>
						<li>Log In</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Reset Password</h3>
				</div>
			 	{% include 'includes/messages.html' %}
				<!-- Form -->
				<form action = "{% url 'employer_reset_password' %}" method="post" id="login-form"  >
					{% csrf_token %}
                    <input hidden name = "id" value={{id}}>
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="password" class="input-text with-border" name="new_password" placeholder="Password" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="repeat_password" placeholder="Repeat Password" required/>
					</div>
				</form>
				
				<!-- Button -->
				{% comment %}   {% endcomment %}
				
				<!-- Social Login -->
				<div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect" type="submit" form="login-form">Reset <i class="icon-material-outline-arrow-right-alt"></i> </button>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

{% include 'includes/footer.html' %}
{%endblock%}