{%load static%}
{% load user_tags %}
<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="/"><img src="{% static 'images/job-search-logo.jpg'%}" alt=""></a>
					
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">

						<li><a href="/">Home</a></li>
						<li><a href="/jobs">Browse a Job</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->

			{%if user.is_authenticated %}
			{% if request.user|has_group:"Applicant" %}
				<div class="right-side">
					<div class="header-widget">
						<a href="{% url 'profile' %}" class="popup-with-zoom-anim log-in-button">
							<i class="icon-material-outline-account-circle"></i>
							<span>Hello {{user.username}}</span>
						</a>
					</div>
					<div class="header-widget">
						<a href="javascript:{document.getElementById('logout').submit()}" class="popup-with-zoom-anim log-in-button">
							<i class="icon-feather-log-in"></i> 
							<span>Logout</span>
						</a>
					</div>
					<form action="{% url 'logout' %}" id ='logout' method='POST'>
						{% csrf_token %}
						<input type='hidden'> 
					</form>

				</div>
			{% else %}
				<div class="right-side">
					<div class="header-widget">
						<a href="{% url 'dashboard' %}" class="popup-with-zoom-anim log-in-button">
							<i class="icon-material-outline-account-circle"></i>
							<span>Hello {{user.username}}</span>
						</a>
					</div>
					<div class="header-widget">
						<a href="javascript:{document.getElementById('employer_logout').submit()}" class="popup-with-zoom-anim log-in-button">
							<i class="icon-feather-log-in"></i> 
							<span>Logout</span>
						</a>
					</div>
					<form action="{% url 'logout' %}" id ='logout' method='POST'>
						{% csrf_token %}
						<input type='hidden'> 
					</form>
				{% endif %}
			{%else%}
			<div class="right-side">

				<div class="header-widget">
					<a href="{% url 'login' %}" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>Log In / Register</span></a>
				</div>
				<div class="header-widget">
					<a href="{% url 'employer_login' %}" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>Employer Log In</span></a>
				</div>

			</div>
			{% endif %}
	</div>
	<!-- Header / End -->

</header>
<!-- Header Container / End -->