{% load static %}
<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Job Search</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href= "{% static 'css/colors/blue.css' %}">

</head>
<body>

<!-- Wrapper -->
<div id="wrapper" class="wrapper-with-transparent-header">

{% include 'includes/header.html' %}
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Spacer -->
<div class="margin-top-90"></div>
<!-- Spacer / End-->
{% block content %} 




{% endblock %}
{% include 'includes/footer.html' %}
</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'js/jquery-migrate-3.0.0.min.js'%}"></script>
<script src="{% static 'js/mmenu.min.js'%}"></script>
<script src="{% static 'js/tippy.all.min.js'%}"></script>
<script src="{% static 'js/simplebar.min.js'%}"></script>
<script src="{% static 'js/bootstrap-slider.min.js'%}"></script>
<script src="{% static 'js/bootstrap-select.min.js'%}"></script>
<script src="{% static 'js/snackbar.js'%}"></script>
<script src="{% static 'js/clipboard.min.js'%}"></script>
<script src="{% static 'js/counterup.min.js'%}"></script>
<script src="{% static 'js/magnific-popup.min.js'%}"></script>
<script src="{% static 'js/slick.min.js'%}"></script>
<script src="{% static 'js/custom.js"'%}"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>


<!-- Google Autocomplete -->
<script>
	function initAutocomplete() {
		 var options = {
		  types: ['(cities)'],
		  // componentRestrictions: {country: "us"}
		 };

		 var input = document.getElementById('autocomplete-input');
		 var autocomplete = new google.maps.places.Autocomplete(input, options);
	}

	// Autocomplete adjustment for homepage
	if ($('.intro-banner-search-form')[0]) {
	    setTimeout(function(){ 
	        $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
	    }, 300);
	}

</script>

<!-- Google API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g&libraries=places&callback=initAutocomplete"></script>

</body>
</html>